<div class="c-navigation" ...attributes>
  <div class="c-navigation__mobile">
    <AuButton
      {{this.reference}}
      aria-haspopup="true"
      aria-expanded="{{if this.dropdownOpen 'true' 'false'}}"
      class="c-navigation__button"
      @skin="naked"
      type="button"
      {{on "click" this.toggleDropdown}}
    >
      <div class="c-navigation__trigger">
        <AuIcon @icon="tiles" @iconAlignment="left" />
      </div>
      {{#if (eq this.activeRoute 'dashboard.index')}}
      Alle diensten
      {{else if (eq this.activeRoute 'dashboard.search')}}
      Alle diensten
      {{else if (eq this.activeRoute 'dashboard.favorites')}}
      Alle diensten
      {{else if (eq this.activeRoute 'cases.index')}}
      Mijn dossiers <span class="c-counter">1</span>
      {{else if (eq this.activeRoute 'cases.search')}}
      Mijn dossiers <span class="c-counter">1</span>
      {{else if (eq this.activeRoute 'data.index')}}
      Mijn gegevens
      {{else if (eq this.activeRoute 'data.search')}}
      Mijn gegevens
      {{else if (eq this.activeRoute 'data.detail')}}
      Mijn gegevens
      {{else if (eq this.activeRoute 'messages.index')}}
      Berichten <span class="c-counter">3</span>
      {{else if (eq this.activeRoute 'messages.search')}}
      Berichten <span class="c-counter">3</span>
      {{else if (eq this.activeRoute 'messages.detail')}}
      Berichten <span class="c-counter">3</span>
      {{else if (eq this.activeRoute 'updates')}}
      Notificaties
      {{else if (eq this.activeRoute 'settings.index')}}
      Instellingen
      {{else if (eq this.activeRoute 'settings.newsletter')}}
      Instellingen
      {{/if}}
    </AuButton>
    {{#if this.dropdownOpen}}
      <div
        id="account"
        role="menu"
        {{focus-trap
          shouldSelfFocus=true
          focusTrapOptions=(hash
            clickOutsideDeactivates=this.clickOutsideDeactivates
          )
        }}
        {{on "click" this.closeDropdown}}
        class="c-navigation__dialog"
      >
        <AuLink @route="dashboard.index" role="menuitem">
          <AuIcon @icon="tiles" />Alle diensten
        </AuLink>
        <AuLink @route="cases" role="menuitem"><AuIcon @icon="subsidies" />Mijn dossiers {{#if @cases}}<span class="c-counter">{{@cases}}</span>{{/if}}</AuLink>
        {{!-- <AuLink @route="data" role="menuitem"><AuIcon @icon="datasource" />Mijn gegevens</AuLink> --}}
        {{!-- <AuLink role="menuitem" @route="messages"><AuIcon @icon="message" />Berichten <span class="c-counter">3</span></AuLink> --}}
      </div>
    {{/if}}
  </div>

  <div class="c-navigation__tabs">
    <AuTabs @reversed={{this.reversed}} as |Tab|>
      <Tab>
        <AuLink @route="dashboard" role="menuitem">
          <AuIcon @icon="tiles" />Alle diensten
        </AuLink>
      </Tab>
      <Tab>
        <AuLink @route="cases" role="menuitem"><AuIcon @icon="subsidies" />Mijn dossiers {{#if @cases}}<span class="c-counter">{{@cases}}</span>{{/if}}</AuLink>
      </Tab>
      {{!-- <Tab>
        <AuLink @route="data" role="menuitem"><AuIcon @icon="datasource" />Mijn gegevens</AuLink>
      </Tab> --}}
      {{!-- <Tab>
        <AuLink role="menuitem" @route="messages"><AuIcon @icon="message" />Berichten <span class="c-counter">3</span></AuLink>
      </Tab> --}}
    </AuTabs>
  </div>
</div>