<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar>
      <div class="au-c-sidebar__content" tabindex="-1">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            In te dienen
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Nieuwste updates <span class="c-list-navigation__counter">1</span>
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Deadline verstreken
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Archief
            </AuNavigationLink>
          </li>
        </ul>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Type
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Subsidies
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Premies
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Vergunningen
            </AuNavigationLink>
          </li>
        </ul>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Thema's
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Jeugd
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Sport
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Cultuur
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Vrije tijd
            </AuNavigationLink>
          </li>
        </ul>
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__section-title">
            Deadline
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Deze maand
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Dit kwartaal
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Dit jaar
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            {{#if (eq this.dateFilter true)}}
            <div class="au-c-list-navigation__form">
              <AuLabel>Specifiek</AuLabel>
              <AuDateInput/>
            </div>
            {{else}}
            <AuNavigationLink role="menuitem" {{on 'click' this.toggleDateFilter}}>
              Specifiek
            </AuNavigationLink>
            {{/if}}
          </li>
        </ul>
      </div>
    </Sidebar>
  </m.sidebar>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100" >
      <AuToolbar @border="bottom" @size="small" as |Group|>
        <Group class="au-u-1-1">
          <div class="c-navigation-search">
            <div>
              <AuLabel for="search">Trefwoord</AuLabel>
              <AuInput id="search" @width="block" />
            </div>
            <AuLink @skin="button" @route="cases.search" @icon="search">
              Zoek
            </AuLink>
          </div>
          </Group>
      </AuToolbar>
      {{!-- <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          <p class="au-u-h6">2346 resultaten voor <strong>'zoekterm'</strong></p>
        </Group>
      </AuToolbar> --}}
      <AuBodyContainer @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            {{#each this.model as |case|}}
            <listitem>
              <AuCard @size="small" class="c-overview-card c-overview-card--link" as |card|>
                <card.header class="au-u-padding-bottom-none">
                  <div class="c-overview-card__header">
                    <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
                      <AuLink @route="submissions.submission" @model={{case.id}} class="au-u-h6 au-u-medium c-overview-card__link">
                        {{case.name}}
                      </AuLink>
                      {{#if case.submissions.length}}
                        <AuPill @skin="ongoing" @size="small" >
                          Actief - Aanvraag doorgestuurd
                        </AuPill>
                      {{else}}
                        <AuPill @skin="default" @size="small" >
                          Draft
                        </AuPill>
                      {{/if}}
                    </div>
                    <div class="au-u-flex au-u-flex--spaced-tiny">
                      {{!-- {{#if case.deadline}}
                      <AuPill @skin="warning"  @size="small">Deadline: {{case.deadline}}</AuPill>
                      {{/if}}
                      <AuPill @skin="border"  @size="small" >
                        {{case.theme}}
                      </AuPill> --}}
                    </div>
                  </div>
                </card.header>
                <card.content>
                  <p class="au-u-h-functional au-u-margin-bottom-tiny">{{case.event.description}}</p>
                  <p class="au-u-h-functional au-u-margin-top-tiny">
                    <span class="au-c-link au-c-link--external" aria-hidden="true">
                      Ga verder met de vergunning <AuIcon @icon="arrow-right" />
                    </span>
                  </p>
                </card.content>
              </AuCard>
            </listitem>
            {{/each}}
          </AuList>
        </div>
      </AuBodyContainer>

      <Pagination
        @page={{this.page}}
        @size={{this.size}}
        @total={{this.model.meta.count}}
        @onChange={{this.setPage}}
        @onChangeSize={{this.setPageSize}} />

    </AuBodyContainer>
  </m.content>
</AuMainContainer>