<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar>
      <div class="au-c-sidebar__content">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="dashboard.index" role="menuitem">
              <AuIcon @icon="tiles" @alignment="left" />
              Overzicht
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="dashboard.favorites" role="menuitem">
              <AuIcon @icon="star-filled" @alignment="left" />
              Favorieten
            </AuNavigationLink>
          </li>
        </ul>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend>Type</f.legend>
            <f.content>
              <AuControlCheckbox
                @label="Vergunningen"
                @name="Checkbox1"
                @value="Vergunningen"
                @identifier="Vergunningen"
                @checked={{this.filters.tools}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'tools'}}
              />
              <AuControlCheckbox
                @label="Subsidies"
                @name="Checkbox2"
                @value="Subsidies"
                @identifier="Subsidies"
                @checked={{false}}
                @disabled= {{false}}
                @checked={{this.filters.tools}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'subsidies'}}
              />
              {{!-- <AuControlCheckbox
                @label="Premies"
                @name="Checkbox3"
                @value="Premies"
                @identifier="Premies"
                @checked={{false}}
                @disabled= {{false}}
              />
              <AuControlCheckbox
                @label="Vergunningen"
                @name="Checkbox4"
                @value="Vergunningen"
                @identifier="Vergunningen"
                @checked={{false}}
                @disabled= {{false}}
              /> --}}
            </f.content>
          </AuFieldset>
        </div>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend>Thematisch</f.legend>
            <f.content>
              <AuControlCheckbox
                @label="Burger en Overheid"
                @name="CheckboxB1"
                @value="Burger en Overheid"
                @identifier="Burger en Overheid"
                @checked={{this.filters.burger}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'burger'}}
              />
              <AuControlCheckbox
                @label="Financieel voordeel"
                @name="CheckboxB2"
                @value="Financieel voordeel"
                @identifier="Financieel voordeel"
                @checked={{this.filters.financieel}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'financieel'}}
              />
              {{!-- <AuControlCheckbox
                @label="Sport"
                @name="CheckboxA3"
                @value="Sport"
                @identifier="Sport"
                @checked={{false}}
                @disabled= {{false}}
              /> --}}
            </f.content>
          </AuFieldset>
        </div>
        <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend>Deadline</f.legend>
            <f.content>
              <AuControlCheckbox
                @label="Deze maand"
                @name="Checkboxs"
                @value="Deze maand"
                @identifier="Deze maand"
                @checked={{this.filters.month}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'month'}}
              />
              <AuControlCheckbox
                @label="Dit kwartaal"
                @name="Checkboxs"
                @value="Dit kwartaal"
                @identifier="Dit kwartaal"
                @checked={{this.filters.quart}}
                @disabled={{false}}
                @onChange={{fn this.updateFilter 'quart'}}
              />
            </f.content>
          </AuFieldset>
        </div>
        {{!-- <div class="au-o-box au-o-box--small">
          <AuFieldset as |f|>
            <f.legend>Aanbieder</f.legend>
            <f.content>
              <AuControlCheckbox
                @label="ABB"
                @name="Checkboxs"
                @value="ABB"
                @identifier="ABB"
                @checked={{false}}
                @disabled= {{false}}
              />
              <AuControlCheckbox
                @label="Opgroeien"
                @name="Checkboxs"
                @value="Opgroeien"
                @identifier="Opgroeien"
                @checked={{false}}
                @disabled= {{false}}
              />
            </f.content>
          </AuFieldset>
        </div> --}}

      </div>
    </Sidebar>
  </m.sidebar>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100" >
      <AuToolbar @border="bottom" @size="small" as |Group|>
        <Group class="au-u-1-1">
          <div class="c-navigation-search">
            <div>
              <AuLabel for="search">Trefwoord</AuLabel>
              <AuInput id="search" @width="block" value="test zoek" />
            </div>
            <AuLink @skin="button-secondary" @icon="cross" @route="dashboard" @hideText="true">Reset</AuLink>
            <AuLink @skin="button" @route="dashboard.search" @icon="search">
              Zoek
            </AuLink>
          </div>
          </Group>
      </AuToolbar>
      <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-small au-u-flex--wrap">
          <p class="au-u-h6">1 resultaat voor <strong>"wielerwedstrijd"</strong></p>
        </Group>
        <Group>
          <AuLabel for="sorting">Gesorteerd op:</AuLabel>
          <select
            name="sorting"
            id="sorting"
            class="c-select"
            {{on "change" this.updateSorting}}
          >
            <option value="deadline" selected={{eq this.sortBy "deadline"}}>
              Deadline
            </option>
            <option value="nameAsc" selected={{eq this.sortBy "nameAsc"}}>
              A-Z (oplopend)
            </option>
            <option value="nameDesc" selected={{eq this.sortBy "nameDesc"}}>
              Z-A (aflopend)
            </option>
          </select>
        </Group>
      </AuToolbar>
      <AuBodyContainer @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            {{#each this.sortedResults as |item|}}
            <listitem>
              <AuCard @size="small" class="c-overview-card {{if item.link 'c-overview-card--link'}}" as |card|>
                <card.header class="au-u-padding-bottom-none">
                  <div class="c-overview-card__header">
                    <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
                      <Favorite @active={{item.favorite}} />
                      {{#if item.link}}
                      <AuLink @route="submissions.new" class="au-u-h6 au-u-medium c-overview-card__link">
                        {{item.name}}
                      </AuLink>
                      {{else}}
                      <p class="au-u-h6 au-u-medium">
                        {{item.name}}
                      </p>
                      {{/if}}
                    </div>
                    <div class="au-u-flex au-u-flex--spaced-tiny">
                      {{#if item.type}}
                      {{#if item.deadline}}
                      <AuPill @skin="warning" @size="small">Deadline: {{item.deadline}}</AuPill>
                      {{else}}
                      <AuPill @skin="default" @size="small">Doorlopend inschrijven</AuPill>
                      {{/if}}
                      {{/if}}
                      {{#if item.categorie}}
                      <AuPill @skin="border" @size="small">
                        {{item.categorie}}
                      </AuPill>
                      {{else}}
                      <AuPill @skin="border" @size="small">
                        {{item.type}}
                      </AuPill>
                      {{/if}}
                    </div>
                  </div>
                </card.header>
                <card.content>
                  <p class="au-u-h-functional au-u-margin-bottom-tiny">{{item.description}}</p>
                  {{#if item.link}}
                  <p class="au-u-h-functional au-u-margin-top-tiny">
                    <span class="au-c-link au-c-link--external" aria-hidden="true">
                      Naar de {{#if item.categorie}}vergunning{{else}}subsidie{{/if}}
                      <AuIcon @icon="external" />
                    </span>
                  </p>
                  {{else}}
                  <AuAlert @skin="info" @size="tiny" class="au-u-margin-bottom-none">Deze dienst is niet beschikbaar. Ga naar <AuLinkExternal>de pagina van de aanbieder</AuLinkExternal>.</AuAlert>
                  {{/if}}
                </card.content>
              </AuCard>
            </listitem>
            {{else}}
            <AuAlert
              @title="Niet gevonden wat je zocht?"
              @skin={{this.skin}}
              @icon="circle-question"
              @size={{this.size}}
              @closable={{this.closable}}
              @onClose={{this.onClose}}
            >
              <p>Laat ons weten welke diensten je mist op <a href="#!" class="au-c-link">LoketLokaalBestuur@vlaanderen.be.</a></p>
            </AuAlert>
            {{/each}}
          </AuList>
        </div>
      </AuBodyContainer>
      {{!-- <Pagination /> --}}
    </AuBodyContainer>
  </m.content>
</AuMainContainer>