<AuMainContainer as |m|>
  <m.content>
    <AuBodyContainer class="au-u-background-gray-100" >
      <AuToolbar @border="bottom" @size="small" as |Group|>
        <Group class="au-u-1-1">
          <div class="c-navigation-search">
            <div>
              <AuLabel for="search">Trefwoord</AuLabel>
              <AuInput id="search" @width="block" />
            </div>
            <AuLink @skin="button" @route="cases.search" @icon="search">
              Zoek
            </AuLink>
          </div>
          </Group>
      </AuToolbar>
      {{!-- <AuToolbar @border="bottom" @size="medium" as |Group|>
        <Group>
          <p class="au-u-h6">2346 resultaten voor <strong>'zoekterm'</strong></p>
        </Group>
      </AuToolbar> --}}
      <AuBodyContainer @scroll={{true}}>
        <div class="au-o-box au-o-box--small">
          <AuList as |listitem|>
            {{#each this.subsidies as |item|}}
            <listitem>
              <AuCard @size="small" class="c-overview-card c-overview-card--link" as |card|>
                <card.header class="au-u-padding-bottom-none">
                  <div class="c-overview-card__header">
                    <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny">
                      <AuLinkExternal href={{item.link}} class="au-u-h6 au-u-medium c-overview-card__link">
                        {{item.name}}
                      </AuLinkExternal>
                      {{#if (eq item.status 'Actief - Aanvraag doorgestuurd')}}
                      <AuPill @skin="ongoing" @size="small" >
                        {{item.status}}
                      </AuPill>
                      {{else if (eq item.status 'Actief')}}
                      <AuPill @skin="ongoing"  @size="small" >
                        {{item.status}}
                      </AuPill>
                      {{else if (eq item.status 'Actief')}}
                      <AuPill @skin="default"  @size="small" >
                        {{item.status}}
                      </AuPill>
                      {{else}}
                      <AuPill @skin="border"  @size="small" >
                        {{item.status}}
                      </AuPill>
                      {{/if}}
                    </div>
                    <div class="au-u-flex au-u-flex--spaced-tiny">
                      {{!-- {{#if item.deadline}}
                      <AuPill @skin="warning"  @size="small">Deadline: {{item.deadline}}</AuPill>
                      {{/if}}
                      <AuPill @skin="border"  @size="small" >
                        {{item.theme}}
                      </AuPill> --}}
                    </div>
                  </div>
                </card.header>
                <card.content>
                  <p class="au-u-h-functional au-u-margin-bottom-tiny">{{item.description}}</p>
                  <p class="au-u-h-functional au-u-margin-top-tiny">
                    <span class="au-c-link au-c-link--external" aria-hidden="true">
                      Ga verder met de vergunning <AuIcon @icon="external" />
                    </span>
                  </p>
                </card.content>
              </AuCard>
            </listitem>
            {{/each}}
          </AuList>
        </div>
      </AuBodyContainer>
      {{!-- <Pagination /> --}}
    </AuBodyContainer>
  </m.content>
</AuMainContainer>