{{page-title "Detail"}}
<AuMainContainer as |m|>
  <m.sidebar>
    <Sidebar>
      <div class="au-c-sidebar__content" tabindex="-1">
        <ul class="au-c-list-navigation">
          <li class="au-c-list-navigation__item">
            <AuNavigationLink @route="data.detail" role="menuitem">
              Alle gegevens
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Personen
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Financieel
            </AuNavigationLink>
          </li>
          <li class="au-c-list-navigation__item">
            <AuNavigationLink role="menuitem">
              Protocol
            </AuNavigationLink>
          </li>
        </ul>
      </div>
    </Sidebar>
  </m.sidebar>
  <m.content>  
    <AuBodyContainer class="au-u-background-gray-100" >
      <AuToolbar @border="bottom" @size="small" as |Group|>
        <Group class="au-u-1-1">
          <div class="c-navigation-search">
            <div>
              <AuLabel for="search">Trefwoord</AuLabel>
              <AuInput id="search" @width="block" />
            </div>
            <AuLink @skin="button" @route="data.search" @icon="search">
              Zoek
            </AuLink>
          </div>
          </Group>
      </AuToolbar>
      <AuBodyContainer class="au-u-background-gray-100">
        <div class="c-layout">
          <div class="c-layout__aside-left c-layout__aside-left--detail">
            <div class="c-sidebar-back">
              <AuLink @skin="button-naked" @route="data.index" @icon="hierarchical-back">Terug naar overzicht</AuLink>
            </div>
            <div class="c-sidebar-list">
              <AuList as |listitem|>
                {{#each this.data as |item index|}}
                <listitem>
                  <AuCard @size="small" class="c-overview-card {{if (eq index 2) 'c-overview-card--active'}}" as |card|>
                    <card.header>
                      <AuLink @route='data.detail' class="au-u-h-functional au-u-medium c-overview-card__link">
                        {{item.name}}
                      </AuLink>
                      {{!-- <p class="au-u-h-functional au-u-margin-bottom-tiny">{{item.description}}</p> --}}
                      <p class="au-u-h-functional au-u-muted au-u-margin-top-tiny">Laatst aangepast: {{item.date}} - Door {{item.person}}</p>
                    </card.header>
                  </AuCard>
                </listitem>
                {{/each}}
              </AuList>
            </div>
          </div>
          <div class="c-layout__main-right au-u-background-white">
            <div class="au-o-box">
              {{#each this.data as |item index|}}
              {{#if (eq index 2)}}
              <AuContent>
                <div class="au-u-flex au-u-flex--vertical-center au-u-flex--spaced-tiny au-u-flex--between">
                  <AuHeading @skin="3">{{item.name}}</AuHeading>
                  <AuButton @skin="secondary" @icon="external-link" @iconAlignment="right">
                    Bewerk
                  </AuButton>
                </div>
                <AuHr />
                <p>
                  {{item.description}}
                </p>
                <AuList
                  @divider={{true}}
                  as |Item|
                >
                  <Item>
                    <strong>Jan Jannssens</strong> – gemeenteraadslid <AuPill class="au-u-margin-left-tiny">CD&V</AuPill>
                  </Item>
                  <Item>
                    <strong>Miet Claes</strong> – gemeenteraadslid <AuPill class="au-u-margin-left-tiny">Vooruit</AuPill>
                  </Item>
                  <Item>
                    <strong>Piet De Praetere</strong> – gemeenteraadslid <AuPill class="au-u-margin-left-tiny">Lijst Burgemeester</AuPill>
                  </Item>
                </AuList>
              </AuContent>
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
      </AuBodyContainer>
    </AuBodyContainer>
  </m.content>
</AuMainContainer>





